body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../assets/imagensfundo/aasbo-longbeach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  :root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
  }

  .logoNavbar {
    background-image: url(logo/agoravai.png);
    width: 180px;
    height: 95px;

}
  
  .container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .header {
    height: 75px;
    border-bottom: 2px solid red;
    background-color: white;
    -webkit-box-shadow: 0px 11px 41px -6px rgba(255,0,0,1);
    -moz-box-shadow: 0px 11px 41px -6px rgba(255,0,0,1);
    box-shadow: 0px 11px 41px -6px rgba(255,0,0,1);
  }
  
  .header .container {
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  
  .header a {
    font-size: larger;
    text-decoration: none;
    color: black;
  }

  .agora {
    font-weight: 800;
  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    height: 75px;
    width: 100%;
    align-items: center;
    list-style: none;
    
  }
  
  .titulo {
    color: red;
    width: fit-content;
    font-weight: 500;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .banner {
    height: var(--tamanho-banner);
   
    background-size: cover;
  }
  
  .banner .container {
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .banner .container p {
    font-size: 36px;
    color: white;
    width: 280px;
  }
  
  .banner .container span {
    font-weight: 800;
  }
  
  .social {
    background-color: #e5e5e5;
    display: flex;
  }
  
  .social .container {
    justify-content: center;
  }
  
  .box img {
    width: 170px;
  }
  
  .social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .box {
    width: 280px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box p {
    text-align: center;
  }
  
  .login {
    height: var(--tamanho-login);
    /* background-image: url('../assets/imgs/bg-jelly-fish-para-home.png'); */
    background-size: cover;
  }
  
  .login .container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    width: 30%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: rgb(255, 255, 255);
    row-gap: 20px;
  }
  
  .card-cadastro {
    height: 80%;
  }
  
  .card-login {
    height: 60%;
  }
  
  .card h2 {
    margin: 0;
    font-size: 30px;
  }
  
  .formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .formulario span {
    font-size: 15px;
    font-weight: 800;
  }
  
  .formulario input {
    border: 2px solid red;
    height: 30px;
    text-align: center;
    border-radius: 10px;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border-radius: 15px;
    border-bottom: rgb(255, 0, 255);
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: rgba(255, 0, 0, 0.6);
    width: 120px;
    height: 30px;
    align-self: center;
  }
  
  .loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  #div_erros_login {
    display: none
  }
  
  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .footer {
    height: var(--tamanho-footer);
    width: 100%;
    background-color: #32b9cd;
    color: #fff;
  }
  
  .footer h4 {
    margin: 0;
  }
  
  .footer .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  
  .footer .container .version {
    font-size: 12px;
    font-weight: 800;
  }
  
  .simulador {
    color: white;
  }
  
  .simulador .container {
    flex-direction: column;
    overflow: scroll; 
    height: var(--tamanho-simulador);
  }